html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0em;
  padding: 0em;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #E0FFFF;
  font-size: 62.5%;
}

form {
  list-style: none;
  margin: 0;
  padding: 0;
}

.msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    background-color: #f4f5f9;
  }

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 360px;
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
  padding-top: 60px;
  padding-bottom: 25px;
  -webkit-transition: width 475ms ease-out, border-radius .8s .1s ease, -webkit-transform 450ms ease;
  transition: width 475ms ease-out, border-radius .8s .1s ease, -webkit-transform 450ms ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease, -webkit-transform 450ms ease;
  border-bottom-left-radius: 100vw;
  background-color: #dddfe6;
  /*background-color: rgba(173, 255, 255, 0.8);*/
}

/* @media (min-width: 768px) {
  .sidebar {
    width: 20vw;
  }
} */

.sidebar form {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.sidebar li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translatex(100vw);
          transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}

.sidebar li:last-child {
  margin-bottom: 2em;
}

.sidebar li a {
  text-decoration: none;
  color: #000000;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: calc(24px - .5vw);
}

/* @media (min-width: 768px) {
  .sidebar li a {
    text-align: right;
    padding: .5rem;
  }
} */

.sidebar li a:hover {
  cursor: pointer;
  background-color: azure;
  background-color: rgba(224, 255, 255, 0.5);
}

input.menu {
  display: none;
}

input.menu:checked ~ .sidebar {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  border-bottom-left-radius: 0;
}

input.menu:checked ~ .sidebar form {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

input.menu:checked ~ .sidebar form:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(5) {
  -webkit-transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(6) {
  -webkit-transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(7) {
  -webkit-transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(8) {
  -webkit-transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(9) {
  -webkit-transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(10) {
  -webkit-transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(11) {
  -webkit-transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(12) {
  -webkit-transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(13) {
  -webkit-transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(14) {
  -webkit-transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(15) {
  -webkit-transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(16) {
  -webkit-transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(17) {
  -webkit-transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(18) {
  -webkit-transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(19) {
  -webkit-transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(20) {
  -webkit-transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(21) {
  -webkit-transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(22) {
  -webkit-transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(23) {
  -webkit-transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(24) {
  -webkit-transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(25) {
  -webkit-transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(26) {
  -webkit-transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(27) {
  -webkit-transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(28) {
  -webkit-transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(29) {
  -webkit-transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(30) {
  -webkit-transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(31) {
  -webkit-transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(32) {
  -webkit-transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(33) {
  -webkit-transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(34) {
  -webkit-transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(35) {
  -webkit-transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(36) {
  -webkit-transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(37) {
  -webkit-transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(38) {
  -webkit-transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(39) {
  -webkit-transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(40) {
  -webkit-transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(41) {
  -webkit-transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(42) {
  -webkit-transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(43) {
  -webkit-transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(44) {
  -webkit-transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(45) {
  -webkit-transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(46) {
  -webkit-transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(47) {
  -webkit-transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(48) {
  -webkit-transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(49) {
  -webkit-transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form:nth-child(50) {
  -webkit-transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.menu:checked ~ .sidebar form a {
  padding-right: 15px;
}

input.menu:checked ~ label > i {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input.menu:checked ~ label > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
          transform: translate(-50%, -50%) rotate(315deg);
}

input.menu:checked ~ label > i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-315deg);
          transform: translate(-50%, -50%) rotate(-315deg);
}

input.menu:checked ~ label close {
  color: #000000;
  width: 100%;
}

input.menu:checked ~ label open {
  color: #000000;
  width: 0;
}

label.menu {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}

label.menu:hover {
  cursor: pointer;
}

label.menu text close,
label.menu text open {
  text-transform: uppercase;
  font-size: .8em;
  position: absolute;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  -webkit-transition: width .25s .35s, color .45s .35s;
  transition: width .25s .35s, color .45s .35s;
}

label.menu text close {
  color: rgba(0, 0, 0, 0);
  right: 0;
  width: 0;
}

label.menu text open {
  color: #000000;
  width: 100%;
}

label.menu > i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #000000;
  pointer-events: auto;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-delay: .35s;
          transition-delay: .35s;
}

label.menu > i:before, label.menu > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #000000;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

label.menu > i:before {
  -webkit-transform: translate(-50%, -14px);
          transform: translate(-50%, -14px);
}

label.menu > i:after {
  -webkit-transform: translate(-50%, 14px);
          transform: translate(-50%, 14px);
}

label.menu {
  position: fixed;
  top: 15px;
  right: 15px;
}

/**
    SCROLLBAR STYLE FOR IE
*/
body {
  scrollbar-base-color: #138a72;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #1abc9c;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #1abc9c;
  scrollbar-shadow-color: #1abc9c;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.icon {
  display: inline-block;
  width: 5vw;
  height: 4vw;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/*# sourceMappingURL=styles.css.map */