#cover .img img{
    display:block;
    margin:0 auto;
    width:600px;
    height:450px;
}

#cover h1{
    text-align:center;
    font-family: 'Jua', sans-serif;
}

#cover h3{
    margin:0;
    text-align:center;
    font-family: 'Jua', sans-serif;
}
#cover body{
    background-color: #dddfe6;
}