select{
    background: none;
    border: 3px solid rgb(255, 255, 255);
    color: #252c41;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    font-size: 1.4em;
    margin: 0.1em ;
    padding: 0.3em 0.7em;
    position: relative;
    text-transform: uppercase;
    top:-20px;
   
  }