  .container {
    margin: 0em;
    padding: 0em;
  }
  
  /* GENERAL BUTTON STYLING */
  button,
  button::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  button {
    background: none;
    border: 3px solid rgb(255, 255, 255);
    color: #252c41;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.4em;
    margin: 1em auto;
    padding: 0.3em 0.7em;
    position: relative;
    top:-25px;
    left:5px;
    text-transform: uppercase;
    width: auto;
  }

  p button{
    background: none;
    border: 3px solid rgb(255, 255, 255);
    color: #252c41;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.4em;
    margin: 1em auto;
    margin-top:0px;
    margin-left:90px;
    padding: 0.3em 0.7em;
    position: absolute;
    top:70px;
    left:110px;
    text-transform: uppercase;
    width: auto;
  }
  
  button::before,
  button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
  }
  
  button:hover {
    color: #f1404b ;
  }
  
  /* BUTTON 1 */
  .btn-1::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .btn-1:hover:after {
    height: 100%;
  }
  
  /* BUTTON 2 */
  .btn-2::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
  }
  
  .btn-2:hover:after {
    width: 100%;
  }
  